<li>
	{{burger_name}}

	<button class="{{#if devoureda}}delete-burger{{else}}change-devour{{/if}}" data-id="{{id}}" data-newdevour="{{devoureda}}">
		{{#if devoureda}} DELETE!{{else}}Devour It!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
